textarea {
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  resize: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
